---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';

const pageTitle = "Blog de Futbol";
const allPosts = await getCollection("posts");
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Mi blog de aprendizaje sobre Astro</h1>
	<p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
	<ul>
		<!-- {allPosts.map((post) => 
			<li>
				<a href={post.url}>
					{post.frontmatter.title}
				</a>
			</li>
		)} -->
		{allPosts.map((post) => 
			// <BlogPost url={post.url} title={post.frontmatter.title} />
			<BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
		)}

	</ul>
</BaseLayout>
